<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BencodeNET" version="2.2.22" targetFramework="net47" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net47" developmentDependency="true" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net47" />
  <package id="Fody" version="2.3.15" targetFramework="net47" developmentDependency="true" />
  <package id="Jil" version="2.15.4" targetFramework="net47" />
  <package id="Sigil" version="4.7.0" targetFramework="net47" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net47" />
</packages>